<h2 id="page-header">Timesheet for <%= @timesheet.start_date.strftime("%A, %B %d %Y") %> to <%= @timesheet.end_date.strftime("%A, %B %d %Y") %></h2>

<section data-test_id="summary-section">
  <div id="total-time-section">Total hours worked (decimal): 
    <p id="decimal-value"><%= number_with_precision(@timesheet.total_decimal_hours, precision: 2) %></p>
    <p id="hourly-value">(<%= "#{@timesheet.hours_breakdown[:hours]} hours #{@timesheet.hours_breakdown[:minutes]} minutes" %>)</p>
  </div>
  <div id="total-revenue-section">
    <p id="total-revenue">$ <%= number_with_precision(@timesheet.total_revenue, precision: 2) %></p>
  </div>
</section>
<section class="page-actions">
  <%= link_to("Add item", new_timesheet_line_item_path(@timesheet.id)) %>
  <%= link_to("View my timesheets", timesheets_path) %>
</section>
<section id="daily-breakdown">
  <% @timesheet.grouped_line_items.each do |grouped_line_item| %>
    <div class="weekday-summary">
      <div class="weekday"><%= grouped_line_item.weekday %></div>
      <div class="description"><%= grouped_line_item.description %></div>
      <div class="duration"><%= grouped_line_item.duration %></div>
      <div class="hourly-rate"><%= grouped_line_item.hourly_rate %></div>
      <div class="subtotal"><%= grouped_line_item.subtotal %></div>
    </div>
  <% end %>
</section>