<h2>Timesheet for <%= @timesheet.start_date.strftime("%A, %B %d %Y") %> to <%= @timesheet.end_date.strftime("%A, %B %d %Y") %></h2>

<section data-test_id="summary-section">
  <div id="total-time-section">Total hours worked (decimal): 
    <p id="decimal-value"><%= @timesheet.total_decimal_hours %></p>
    <p id="hourly-value">(<%= "#{@timesheet.hours_breakdown[:hours]} hours #{@timesheet.hours_breakdown[:minutes]} minutes" %>)</p>
  </div>
  <div id="total-revenue-section">
    <p id="total-revenue">$ <%= @timesheet.total_revenue %></p>
  </div>
</section>
