<h2 id="page-header">Timesheet for <%= @timesheet.start_date.strftime("%A, %B %d %Y") %> to <%= @timesheet.end_date.strftime("%A, %B %d %Y") %></h2>

<section class="mb-2 page-actions">
  <%= render(
   Utilities::Buttons::ButtonComponent.new(
      text: "Add item",
      link: new_timesheet_line_item_path(@timesheet.id),
      style: "primary", 
    ),
  ) %>
  <%= render(
    Utilities::Buttons::ButtonComponent.new(
      text: "View my timesheets",
      link: timesheets_path,
      style: "secondary",
    ),
  ) %>
</section>

<section class="mb-2 col-6" id="summary-section">
  <%= render(Timesheets::TimesheetSummaryComponent.new(timesheet: @timesheet)) %>
  <%= render(Timesheets::TimesheetLineItemsSummaryComponent.new(timesheet: @timesheet))%>
</section>

<%= render(Timesheets::DailyBreakdownComponent.new(
  timesheet: @timesheet, 
  timezone_identifier: current_user.user_configuration.timezone_identifier
)) %>

<%= render(
   Utilities::Buttons::ButtonComponent.new(
      text: "Delete",
      link: timesheet_path(@timesheet.id),
      style: "danger", 
      method: "delete", 
    ),
  ) %>